<article>
    <div class="card pt-3 pb-3 " style="width: 18rem;">
        <header>
            <div class="contact-info">
                <picture class="icons">
                    <img class="img-fluid rounded-start" src="../../../../assets/user.png" alt="user-image">
                </picture>
                <h5 class="card-title">{{contact.first_name}} {{contact.last_name}}</h5>
            </div>
            <div class="contact-info">
                <picture class="icons">
                    <img class="img-fluid rounded-start" src="../../../../assets/smartphone.png" alt="smartphone-image">
                </picture>
                <p class="card-text">{{contact.telephone}}</p>
            </div>
            <div class="contact-info">
                <picture class="icons">
                    <img class="img-fluid rounded-start" src="../../../../assets/envelope.png" alt="envelope-image">
                </picture>
                <p class="card-text"><small class="text-muted">{{contact.email}}</small></p>
            </div>

        </header>
        <footer>
            <picture class="icons">
                <img class="img-fluid rounded-start" routerLink="/edit/{{contact.id}}" src="../../../../assets/edit.png" alt="edit-icon">
            </picture>
            <picture class="icons">
                <img class="img-fluid rounded-start" (click)="delete_contact(contact.id)" src="../../../../assets/delete.png" alt="delete-icon">
            </picture>
        </footer>
    </div>
</article>
