.template {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 91vh;
  background-color: rgb(255, 237, 203);
}

.my-pagination ::ng-deep .ngx-pagination {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -85px;
    background-color: rgb(255, 237, 203);
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: #531bba;

  }


.no-contacts-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #531bba;
}

article {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
}

header {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contact-info {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons img {
  width: 35px;
  height: 35px;
}

#delete-icon {
    width: 20px;
    height: 20px;
}   

#edit-icon {
    width: 15px;
    height: 15px;
}
.card-title {
  justify-content: center;
  align-self: center;
}

footer {
  display: flex;
  justify-content:flex-end;
  margin-bottom: 15px;
  margin-right: 15px;
  gap: 15px;
}



@media only screen and (max-width: 1200px) {

  article {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 50px;
  }

  header {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 25px;
      margin-bottom: 25px;
  }

  .contact-info {
      display: flex;
      gap: 25px;
      margin-bottom: 25px;
  }

  .icons {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .icons img {
      width: 35px;
      height: 35px;
  }

  .card-title {
      justify-content: center;
      align-self: center;
  }

  footer {
      display: flex;
      justify-content:flex-end;
      margin-bottom: 15px;
      margin-right: 15px;
      gap: 15px;
  }

  .my-pagination ::ng-deep .ngx-pagination {
    display: flex;
justify-content: center;
align-content: center;
margin-top: 0px;
background-color: rgb(255, 237, 203);
padding-top: 10px;
padding-bottom: -10px;
margin-bottom: 0px;
}




}

@media only screen and (max-width: 992px) {

  article {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 50px;
  }

  header {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 25px;
      margin-bottom: 25px;
  }

  .contact-info {
      display: flex;
      gap: 25px;
      margin-bottom: 25px;
  }

  .icons {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .icons img {
      width: 35px;
      height: 35px;
  }

  .card-title {
      justify-content: center;
      align-self: center;
  }

  footer {
      display: flex;
      justify-content:flex-end;
      margin-bottom: 15px;
      margin-right: 15px;
      gap: 15px;
  }

  .my-pagination ::ng-deep .ngx-pagination {
    display: flex;
justify-content: center;
align-content: center;
margin-top: -20px;
background-color: rgb(255, 237, 203);
padding-top: 10px;
padding-bottom: 40px;
margin-bottom: 0px;
}

.my-pagination ::ng-deep .ngx-pagination {
    display: flex;
justify-content: center;
align-content: center;
margin-top: -20px;
background-color: rgb(255, 237, 203);
padding-top: 10px;
padding-bottom: 40px;
margin-bottom: 0px;
}
  

}

@media only screen and (max-width: 768px) {

  article {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 50px;
  }

  header {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 25px;
      margin-bottom: 25px;
  }

  .contact-info {
      display: flex;
      gap: 25px;
      margin-bottom: 25px;
  }

  .icons {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .icons img {
      width: 35px;
      height: 35px;
  }

  .card-title {
      justify-content: center;
      align-self: center;
  }

  footer {
      display: flex;
      justify-content:flex-end;
      margin-bottom: 15px;
      margin-right: 15px;
      gap: 15px;
  }

    .my-pagination ::ng-deep .ngx-pagination {
        display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -20px;
    background-color: rgb(255, 237, 203);
    padding-top: 10px;
    padding-bottom: 40px;
    margin-bottom: 0px;
  }

}

@media only screen and (max-width: 600px) {

  article {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 50px;
  }

  .my-pagination ::ng-deep .ngx-pagination {
    display: flex;
justify-content: center;
align-content: center;
margin-top: 0px;
background-color: rgb(255, 237, 203);
padding-top: 20px;
padding-bottom: 40px;
margin-bottom: 0px;
  }

  header {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 25px;
      margin-bottom: 25px;
  }

  .contact-info {
      display: flex;
      gap: 25px;
      margin-bottom: 25px;
  }

  .icons {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .icons img {
      width: 35px;
      height: 35px;
  }

  .card-title {
      justify-content: center;
      align-self: center;
  }

  footer {
      display: flex;
      justify-content:flex-end;
      margin-bottom: 15px;
      margin-right: 15px;
      gap: 15px;
  }



}

