<main class="template">
    <article *ngIf="contacts.length === 0">
        <h5>You have not registered any contact yet</h5>
    </article>
    <article *ngFor="let contact of contacts">
        <div class="card pt-3">
            <picture class="user-image">
                <img class="icons img-fluid rounded-start" src="../../../../assets/user.png" alt="user-image">
            </picture>
            <div class="contact-info">
                <header>
                    <h5 class="card-title">{{contact.first_name}} {{contact.last_name}}</h5>
                    <p class="card-text">{{contact.telephone}}</p>
                    <p class="card-text"><small class="text-muted">{{contact.email}}</small></p>
                </header>
                <footer>
                    <img class="operations" routerLink="/edit/{{contact.id}}" src="../../../../assets/edit.png" alt="edit-icon">
                    <img class="operations" (click)="delete_contact(contact.id)" src="../../../../assets/delete.png" alt="delete-icon">
                </footer>
            </div>
        </div>
        <!-- <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <picture>
                    <img class="icons img-fluid rounded-start" src="../../../../assets/user.png" alt="user-image">
                </picture>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{contact.first_name}} {{contact.last_name}}</h5>
                  <p class="card-text">{{contact.telephone}}</p>
                  <p class="card-text"><small class="text-muted">{{contact.email}}</small></p>
                </div>
                <div class="footer">
                    <div class="operations">
                        <img class="icons" routerLink="/edit/{{contact.id}}" src="../../../../assets/edit.png" alt="edit-icon">
                        <img class="icons" (click)="delete_contact(contact.id)" src="../../../../assets/delete.png" alt="delete-icon">
                    </div>
                </div>
              </div>
            </div>
        </div> -->
        <!-- <div class="card">
            <div class="card-body">
               <div class="contact-header">
                    <div class="contact-image">
                        <picture>
                            <img class="icons" src="../../../../assets/user.png" alt="user-image">
                        </picture>
                    </div>
                    <div class="contact-info">
                        <h6>Name: {{contact.first_name}} {{contact.last_name}}</h6>
                        <p>Phone Number: {{contact.telephone}}</p>
                        <p>Email: {{contact.email}}</p>
                    </div>
               </div>
                <div class="footer">
                    <div class="operations">
                        <img class="icons" routerLink="/edit/{{contact.id}}" src="../../../../assets/edit.png" alt="edit-icon">
                        <img class="icons" (click)="delete_contact(contact.id)" src="../../../../assets/delete.png" alt="delete-icon">
                    </div>
                </div>
                <button (click)="delete_contact(contact.id)">Delete</button>
                <button routerLink="/edit/{{contact.id}}">Edit</button>
            </div>
          </div> -->
        
    </article>
</main>
