<main>
  <header>
    <h2>Welcome to your Phonebook</h2>
    <h6>Here you will find some shorcuts to start using it</h6>
  </header>
  <app-menu-card></app-menu-card>
  <!-- <section class="shortcuts">
    <article>
      <div class="card" routerLink="/add" style="width: 15rem;">
          <div class="card-body">
            <h5  class="card-title">Add Contacts</h5>
          </div>
        </div>
    </article>
    <article>
      <div routerLink="/list" class="card" style="width: 15rem;">
          <div class="card-body">
            <h5  class="card-title">List Contacts</h5>
          </div>
        </div>
    </article>
  </section> -->
</main>
